.product{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.right_wrapper{
        margin: 15px 15px 0 0;
}

.image{
    height: 400px;
    width: 300px;
    border: 1px solid;
    padding: 10px;
}

.left_wrapper{
    width: 60%;
}
.productname{
    width: 80%;
    font-family: fantasy;
}
.featureUL{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}
.featureLI{
    padding: 3px 0;
    font-size: 14px;
    width: 40%;
}

.addcart{
    width: 100%;
    text-align: center;
}
.button{
    margin-top: 25px;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    background: rgb(221, 63, 63);
    color: aliceblue;
    cursor: pointer;
}