.container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.subscribe{
    width: 90%;
    height: 300px;
    background: rgb(255,194,204);
    background: linear-gradient(178deg, rgba(255,194,204,1) 13%,
                                    rgba(255,194,204,0.72) 33%,
                                    rgba(255,194,204,0.5258620689655172) 54%,
                                    rgba(255, 194, 204, 0.08) 73%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.subBar{
    margin-bottom: 15px;
}
.email{
    font-size: 15px;
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 8px 10px;
    margin-right: 5px;
    outline: none;
    width: 23rem;
}
.subcbtn{
    width: 8rem;
    padding: 9px 10px 9px 9px;
    border: 1px;
    border-radius: 0 15px 15px 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(124, 124, 124, 0.969);
    background-color: rgb(2, 1, 2);
}