.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 1rem 0;
}
.subscribe{
    width: 90%;
    border: 1px solid;
    border-radius: 6px;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
}

.subBar{
    margin-bottom: 15px;
}
.email{
    font-size: 15px;
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 8px 10px;
    margin-right: 5px;
    outline: none;
    width: 23rem;
}
.subcbtn{
    width: 8rem;
    padding: 9px 10px 9px 9px;
    border: 1px;
    border-radius: 0 15px 15px 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(124, 124, 124, 0.969);
    background-color: rgb(2, 1, 2);
}