body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    background: rgb(112, 112, 112);
}

/* logo field */
.right{
    display: flex;

    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo{
    width: 3rem;
}
.title{
    font-size: 1.1rem;
    font-weight: bold;
    color:white
}

/* tag field */
.list{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.list p{
    color: white;
}
.list p:hover{
    color: black;
}

li{
    font-size: 0.9rem;
    cursor: pointer;
}

/* login and cart field */
.right{
    display: flex;
    width: 30%;
    flex-direction: row;
}

.login{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    background-color: hsla(0, 0%, 88%, 0.8);
    color: rgb(39, 38, 38);
    cursor: pointer;
}
.login:hover{
    background: black;
    color: white;
}

.cartC{
    position: relative;
}
i{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}
i:hover{
    color: brown;
}