.sect{
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slogan{
    font-family: Georgia;
    display: block;
    font-size: 35px;
    width: 80%;
    color: rgb(31, 68, 123);
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}
.alert{
    left: 0;
    padding: 3px 0 3px 15px;
}
.sort{
    position: absolute;
    right: 3rem;
    display: flex;
    cursor: pointer;
    font-size: 0.8rem;
}
.filter{
    width: 15px;
    height: 15px;
}

.wrap{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    width: 95%;
    margin-left: 1rem;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0, 0%, 50%, 0.772);
    padding: 0.8rem 0.3rem;
    border-radius: 10px;
    margin-bottom: 5.8rem;
}

.pic{
    cursor: pointer;
    border: none;
    width: 4rem;
    height: 3rem;
}

.product_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_name{
    font-size: 0.6rem;
    text-align: center;
}

.price{
    font-size: 0.7rem;
}

.details{
    font-size: 0.6rem;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 0.4rem;
    background: rgb(22, 22, 22);
    color: white;
    cursor: pointer;
}