.main-page{
    width: 100%;
    height: 520px;
    background: rgb(253,103,255);
    background: linear-gradient(180deg, rgba(253,103,255,0.9676724137931034) 13%, 
                rgba(255, 105, 253, 0.598) 25%, 
                rgba(255, 99, 247, 0.42) 39%, 
                rgba(250, 82, 228, 0.413) 60%,
                rgba(239, 130, 239, 0.064) 73%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-family: 'Courier New';
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.main-details{
    color: rgb(23, 42, 180);
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.main-button{
    border: none;
    border-radius: 25px;
    padding: 13px;
    background: hsla(148, 100%, 45%, 0.842);
    font-size: 20px;
    font-weight: 600;
    color: rgb(38, 12, 47);
    width: 25%;
    cursor: pointer;
    transition: transform 1s ease;
}
.main-button:hover{
    transform: scale(1.1);
}