
.under{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-size: 13px;
    margin: 0 8px;
}

.icon{
    display: flex;
    width: 18px;
    margin-left: 13px;
}